input[type="search"]{
    width: 340px;
    margin-left: 5px;
    height: 50px;
    margin-bottom: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;

}
button[type="submit"]{
    height: 50px;
    margin-bottom:5px;
    margin-left: 3px;
}
::-webkit-input-placeholder{
    padding-left: 5px;
}
select{
    height: 50px;
    width: 100px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}
option{
    text-align: center;
}
.addPost{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addPost button{
    height: 50px;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 1px 2px 8px black;
    border-radius: 5px;
}
.addPost button:hover{
    cursor: pointer;
}
.form{
    display: flex;
    line-height: 80px;

}
.filter{
    padding-top: 30px;
}
@media(max-width:720px){
    input[type="search"]{
        width: 200px;
    }
}